<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vanløse alle 82</title>
</head>
<body>
<div>
    <h1>Welcome to your Vanlose alle 82 program</h1>
    <p>Here you can register cleaning schedules, delegate assignment and much more</p>
</div>
<div>
    <h2>Get starting</h2>
    <h3>Add a new member here
        <a href="/addNewMember">
    <button>Add new member</button>
        </a>
    </h3>
    <h3>Enter cleaning schedules here
        <a href="/cleaningIndex">
            <button>Enter cleaning schedules</button>
        </a>

    </h3>
</div>
</body>
</html>